swagger: "2.0"
info:
  title: "Mechanic Shop API"
  description: "Used to manage the everyday functionalities of a Mechanic Shop"
  version: "0.0.1"

host: "127.0.0.1:5000"
schemes:
  - "http"
consumes:
  - "application/json"
produce:
  - "application/json"

securityDefinitions: 
  bearerAuth:
    type: apiKey
    name: Authorization
    in: header

paths:

# Customer API documentation
  /customers/login: # Login Customer
    post:
      tags:
        - Customers
      summary: "Login for customer endpoint (generate a token)"
      description: "Validates customer credentials(email and password), and generate a customer specific token"
      parameters: 
        - in: "body"
          name: "body"
          description: "Login credentials"
          required: true
          schema: 
            $ref: "#/definitions/LoginCredentials"
      responses:
        200:
          description: "Login Successful"
          schema:
            $ref: "#/definitions/LoginResponse"
          examples: 
            application/json:
              message: "Successfully logged in. Welcome Customer"
              token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...."

  /customers:
    post: # Create a Customer
      tags:
        - Customers
      summary: "Register Customer"
      description: "Send customer info to create a customer profile that will be stored in the database, and generate a token."
      parameters:
        - in: "body"
          name: "body"
          description: "New Customer Information"
          required: true
          schema: 
            $ref: "#definitions/CustomerInput"
      responses:
        201: 
          description: "Creation Successful"
          schema: 
            $ref: "#definitions/CreateCustomerResponse"
          examples:
            application/json:
              customer_data:
                address: "Street 1"
                email: "john@gmail.com"
                first_name: "John"
                last_name: "Lee"
                password: "<encrypted password>"
                phone: "+14084556597"
              token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...."

    get: #Get all customers Endpoint
      tags:
        - Customers
      summary: "Return all customers"
      description: "Endpoint to get an array of customer objects"
      parameters:
        - in: query
          name: page
          required: false
          schema:
            type: integer
          description: "Show customers in specific page"
        - in: query
          name: per_page
          required: false
          schema:
            type: integer
          description: "Number of customers in page to return"
      responses:
        200:
          description: "Successful Retrieval of Customers"
          schema:
            $ref: "#/definitions/CustomersResponse"
    
    delete: #Deleting a Customer
      tags:
        - Customers
      summary: "Delete a customer"
      description: "Delete a customer requires a token, token will be used to identify customer to delete"
      security: 
        - bearerAuth: []
      responses:
        200:
          schema:
            type: object
            properties:
              message: 
                type: string
                example: "Successfully deleted customer with id: 0"
    
    put:
      tags:
        - Customers
      summary: "Update a customer"
      description: "Update a customer requires a token to identify customer to update"
      security:
        - bearerAuth: []
      parameters:
          - in: "body"
            name: "body"
            description: "Customer Updates"
            required: true
            schema:
              $ref: "#/definitions/CustomerInput"
      responses:
        200:
          description: "Successfully customer updated."
          schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Successfully customer with id: 0 updated."

  /customers/profile:
    get: 
      tags:
        - Customers
      summary: "Return customer profile"
      description: "Endpoint to get customer Information"
      security: 
        - bearerAuth: []
      responses:
        200:
          description: "Successfully get customer with id: integer"
          schema:
            $ref : "#/definitions/CustomerResponse"

  /customers/service_tickets:
    get:
      tags:
        - Customers
      summary: "Return customer service_tickets"
      description: "Endpoint to get customer service_tickets, token required"
      security: 
        - bearerAuth: []
      responses:
        200:
          description: "Successfully show service_tickets"
          schema:
            $ref: "#/definitions/ServiceTicketsResponse"

  /customers/search_by_email:
    get:
      tags:
        - Customers
      summary: "Search customers by email"
      description: "Endpoint to search customers by email."
      parameters:
        - in: query
          name: email
          required: true
          schema:
            type: string
            example: "john"
          description: "Email to search"
      responses:
        200:
          description: "Successful get customers by email"
          schema:
            $ref: "#/definitions/CustomersResponse"

# Mechanic API documentation
  /mechanics/login: # Login Mechanic
    post:
      tags:
        - Mechanics
      summary: "Login for mechanic endpoint (generate a token)"
      description: "Validates mechanic credentials(email and password), and generate a mechanic specific token"
      parameters: 
        - in: "body"
          name: "body"
          description: "Login credentials"
          required: true
          schema: 
            $ref: "#/definitions/LoginCredentials"
      responses:
        200:
          description: "Login Successful"
          schema:
            $ref: "#/definitions/LoginResponse"
          examples: 
            application/json:
              message: "Successfully logged in. Welcome Mechanic"
              token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...."

  /mechanics:

    post: # Create a Mechanic
      tags:
        - Mechanics
      summary: "Register Mechanics"
      description: "Send mechanic info to create a mechanic profile that will be stored in the database, and generate a token."
      parameters:
        - in: "body"
          name: "body"
          description: "New Mechanic Information"
          required: true
          schema: 
            $ref: "#definitions/MechanicInput"
      responses:
        201: 
          description: "Creation Successful"
          schema: 
            $ref: "#definitions/CreateMechanicResponse"
          examples:
            application/json:
              mechanic_data:
                address: "Street 5"
                email: "sam@gmail.com"
                first_name: "Sam"
                last_name: "Java"
                password: "<encrypted password>"
                phone: "+14082222222"
                salary: 4000.99
              token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...."

    get: #Get all mechanics Endpoint
      tags:
        - Mechanics
      summary: "Return all mechanics"
      description: "Endpoint to get an array of mechanics objects"
      responses:
        200:
          description: "Successful Retrieval of Mechanics"
          schema:
            $ref: "#/definitions/MechanicsResponse"
    
    delete: #Deleting a Mechanic
      tags:
        - Mechanics
      summary: "Delete a mechanic"
      description: "Delete a mechanic requires a token, token will be used to identify mechanic to delete"
      security: 
        - bearerAuth: []
      responses:
        200:
          schema:
            type: object
            properties:
              message: 
                type: string
                example: "Successfully deleted mechanic with id: 0"
    
    put:
      tags:
        - Mechanics
      summary: "Update a mechanic"
      description: "Update a mechanic requires a token to identify mechanic to update"
      security:
        - bearerAuth: []
      parameters:
          - in: "body"
            name: "body"
            description: "Mechanic Updates"
            required: true
            schema:
              $ref: "#/definitions/MechanicInput"
      responses:
        200:
          description: "Successfully mechanic updated."
          schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Successfully mechanic with id: 0 updated."

  /mechanics/profile:
    get: 
      tags:
        - Mechanics
      summary: "Return mechanic profile"
      description: "Endpoint to get mechanic Information"
      security: 
        - bearerAuth: []
      responses:
        200:
          description: "Successfully get mechanic with id: integer"
          schema:
            $ref: "#definitions/MechanicResponse"

  /mechanics/service_tickets:
    get:
      tags:
        - Mechanics
      summary: "Return mechanic service_tickets"
      description: "Endpoint to get mechanic service_tickets, token required"
      security: 
        - bearerAuth: []
      responses:
        200:
          description: "Successfully show service_tickets"
          schema:
            $ref: "#/definitions/ServiceTicketsResponse"

  /mechanics/hard_work_mechanic:
    get:
      tags:
        - Mechanics
      summary: "Get the hard_work mechanic"
      description: "Endpoint to return the mechanic with most service_tickets."
      responses:
        200:
          description: "Successful get hard_work mechanic"
          schema:
            $ref : "#/definitions/MechanicResponseWithTickets_num"
    
  /mechanics/sort_by_work:
    get:
      tags:
        - Mechanics
      summary: "Get mechanics sort by tickets"
      description: "Endpoint to return array of mechanics sort by service_tickets."
      responses:
        200:
          description: "Successful get mechanics sorted list"
          schema:
            $ref : "#/definitions/MechanicsResponseWithTickets_num"




# Define Models for Input and Response
definitions: 

  LoginCredentials: #Input data required for login route
    type: object
    properties:
      email: 
        type: string
        example: "john@gmail.com"
      password:
        type: string
        example: "12345"

    required:
      - email
      - password

  LoginResponse: #Response from /login endpoint
    type: object
    properties:
      message: 
        type: string
      token:
        type: string
  
  CustomerInput:
    type: object
    properties:
      first_name: 
        type: string
        example: "John"
      last_name: 
        type: string
        example: "Lee"
      email: 
        type: string
        example: "john@gmail.com"
      password:
        type: string
        example: "12345"
      phone:
        type: string
        example: "+14084556597"
      address:
        type: string
        example: "Street 1"

    required:
        - first_name
        - last_name
        - email
        - password
        - phone

  CreateCustomerResponse:
    type: object
    properties:
      customer_data:
        type: object
        properties:
          address:
            type: string
          email: 
            type: string
          first_name: 
            type: string
          last_name: 
            type: string
          password:
            type: string
          phone:
            type: string
      token:
        type: string

  CustomerResponse:
    type: object
    properties:
      address:
        type: string
      email: 
        type: string
      first_name: 
        type: string
      id:
        type: integer
      last_name: 
        type: string
      password:
        type: string
      phone:
        type: string

  CustomersResponse:
    type: array
    items:
      type: object
      properties:
        address:
          type: string
        email: 
          type: string
        first_name: 
          type: string
        id:
          type: integer
        last_name: 
          type: string
        password:
          type: string
        phone:
          type: string

  MechanicInput:
    type: object
    properties:
      first_name: 
        type: string
        example: "Sam"
      last_name: 
        type: string
        example: "Java"
      email: 
        type: string
        example: "sam@gmail.com"
      password:
        type: string
        example: "12345"
      phone:
        type: string
        example: "+14082222222"
      address:
        type: string
        example: "Street 1"
      salary: 
        type: number
        format: float
        example: 4000.99

    required:
        - first_name
        - last_name
        - email
        - password
        - phone
        - salary

  CreateMechanicResponse:
    type: object
    properties:
      mechanic_data:
        type: object
        properties:
          address:
            type: string
          email: 
            type: string
          first_name: 
            type: string
          last_name: 
            type: string
          password:
            type: string
          phone:
            type: string
          salary:
            type: number
            format: float
      token:
        type: string

  MechanicResponse:
    type: object
    properties:
      address:
        type: string
      email: 
        type: string
      first_name: 
        type: string
      id:
        type: integer
      last_name: 
        type: string
      password:
        type: string
      phone:
        type: string
      salary:
        type: number
        format: float

  MechanicsResponse:
    type: array
    items:
      type: object
      properties:
        address:
          type: string
        email: 
          type: string
        first_name: 
          type: string
        id:
          type: integer
        last_name: 
          type: string
        password:
          type: string
        phone:
          type: string
        salary:
          type: number
          format: float

  MechanicResponseWithTickets_num:
    type: object
    properties:
      mechanic:
        type: object
        properties:
          address:
            type: string
          email: 
            type: string
          first_name: 
            type: string
          id:
            type: integer
          last_name: 
            type: string
          password:
            type: string
          phone:
            type: string
          salary:
            type: number
            format: float
      tickets_count:
        type: integer

  MechanicsResponseWithTickets_num:
    type: array
    items:
      type: object
      properties:
        mechanic:
          type: object
          properties:
            address:
              type: string
            email: 
              type: string
            first_name: 
              type: string
            id:
              type: integer
            last_name: 
              type: string
            password:
              type: string
            phone:
              type: string
            salary:
              type: number
              format: float
        tickets_count:
          type: integer

  ServiceTicketsResponse:
    type: array
    items:
      type: object
      properties:
        VIN:
          type: string
        id:
          type: integer
        price:
          type: number
          format: float
        service_desc:
          type: string
